## Attrition Rate

###Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

DataSet

In [2]:
df=pd.read_csv("/content/Table_1.csv")
df.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left
0,1,sid,9876544345,Pune,B2,Operation,Male,0.00,< =1,6.08,Single,27.12,Direct,Non Promoted,Yes,Left
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay

In [3]:
df.isnull().sum()

table id                 0
name                     0
phone number             0
Location                 0
Emp. Group               0
Function                 0
Gender                   0
Tenure                   0
Tenure Grp.              0
Experience (YY.MM)       4
Marital Status           0
Age in YY.               0
Hiring Source            0
Promoted/Non Promoted    0
Job Role Match           2
Stay/Left                0
dtype: int64

In [4]:
df.dropna(axis=0, inplace=True)
df.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left
0,1,sid,9876544345,Pune,B2,Operation,Male,0.00,< =1,6.08,Single,27.12,Direct,Non Promoted,Yes,Left
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay

In [5]:
df.isnull().sum()

table id                 0
name                     0
phone number             0
Location                 0
Emp. Group               0
Function                 0
Gender                   0
Tenure                   0
Tenure Grp.              0
Experience (YY.MM)       0
Marital Status           0
Age in YY.               0
Hiring Source            0
Promoted/Non Promoted    0
Job Role Match           0
Stay/Left                0
dtype: int64

In [6]:
gender_dict=df["Gender "].value_counts()
gender_dict

Male      656
Female    234
other       6
Name: Gender , dtype: int64

In [7]:
promoted_dict=df["Promoted/Non Promoted"].value_counts()
promoted_dict

Promoted        457
Non Promoted    439
Name: Promoted/Non Promoted, dtype: int64

In [8]:
function_dict=df["Function"].value_counts()
function_dict

Operation    832
Support       52
Sales         12
Name: Function, dtype: int64

In [9]:
Marital_dict=df["Marital Status"].value_counts()
Marital_dict

Single    534
Marr.     356
Div.        2
NTBD        2
Sep.        2
Name: Marital Status, dtype: int64

In [10]:
Hiring_dict=df["Hiring Source"].value_counts()
Hiring_dict

Direct               709
Agency               116
Employee Referral     71
Name: Hiring Source, dtype: int64

In [11]:
Emp_dict=df['Emp. Group'].value_counts()
Emp_dict['other group']=1
print(Emp_dict)

B1             537
B2             276
B3              59
B0               8
B4               7
B5               4
B7               2
B6               1
C3               1
D2               1
other group      1
Name: Emp. Group, dtype: int64

In [12]:
tenure_dict=df['Tenure Grp.'].value_counts()
tenure_dict

> 1 & < =3    626
< =1          270
Name: Tenure Grp., dtype: int64

In [13]:
location_dict=df['Location'].value_counts()
location_dict

Chennai       255
Noida         236
Bangalore     210
Hyderabad      62
Pune           56
Madurai        29
Lucknow        20
Nagpur         14
Vijayawada      6
Mumbai          4
Gurgaon         3
Kolkata         1
Name: Location, dtype: int64

In [14]:
location_new_dict ={
    'Chennai':       7,
    'Noida':         6,
    'Bangalore':     5,
    'Hyderabad':     4,
    'Pune':          3,
    'Mandurai':      2,
    'Lucknow':       1,
    'other place':  0,

}

print( location_new_dict)

{'Chennai': 7, 'Noida': 6, 'Bangalore': 5, 'Hyderabad': 4, 'Pune': 3, 'Mandurai': 2, 'Lucknow': 1, 'other place': 0}

In [15]:
def location(x):
  if str(x) in location_new_dict.keys():
     return location_new_dict[str(x)]
  else:
    return location_new_dict['other place']

In [16]:
df['New Location']=df['Location'].apply(location)
df.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location
0,1,sid,9876544345,Pune,B2,Operation,Male,0.00,< =1,6.08,Single,27.12,Direct,Non Promoted,Yes,Left,3
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1

In [17]:
gen=pd.get_dummies(df['Function'])

In [18]:
hr=pd.get_dummies(df['Hiring Source'])

In [19]:
# Morital status

def Marital(x):
  if str(x) in Marital_dict.keys() and Marital_dict[str(x)]>100:
    return str(x)
  else:
    return 'other status'

In [20]:
df['New Marital']=df['Marital Status'].apply(Marital)
df.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location,New Marital
0,1,sid,9876544345,Pune,B2,Operation,Male,0.00,< =1,6.08,Single,27.12,Direct,Non Promoted,Yes,Left,3,Single
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6,Marr.
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5,Marr.
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6,Marr.
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.

In [22]:
mr=pd.get_dummies(df["New Marital"])
mr.head()

   Marr.  Single  other status
0      0       1             0
1      1       0             0
2      1       0             0
3      1       0             0
4      1       0             0

In [23]:
def Promoted(x):
  if x=="Promoted":
    return int(1)
  else:
    return int(0)


df['New Promotion']=df['Promoted/Non Promoted'].apply(Promoted)
df.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location,New Marital,New Promotion
0,1,sid,9876544345,Pune,B2,Operation,Male,0.00,< =1,6.08,Single,27.12,Direct,Non Promoted,Yes,Left,3,Single,0
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6,Marr.,1
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5,Marr.,1
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6,Marr.,1
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.,0

In [24]:
Employee_dic_new ={
    'B1':4,
    'B2':3,
    'B3':2,
    'other group':1,

}

def emp(x):
  if str(x) in Employee_dic_new.keys():
    return str(x)
  else:
    return 'other group'

df['New EMP']=df['Emp. Group'].apply(emp)
df.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location,New Marital,New Promotion,New EMP
0,1,sid,9876544345,Pune,B2,Operation,Male,0.00,< =1,6.08,Single,27.12,Direct,Non Promoted,Yes,Left,3,Single,0,B2
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6,Marr.,1,other group
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5,Marr.,1,B3
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6,Marr.,1,B2
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.,0,B2

In [25]:
emp=pd.get_dummies(df['New EMP'])
df.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location,New Marital,New Promotion,New EMP
0,1,sid,9876544345,Pune,B2,Operation,Male,0.00,< =1,6.08,Single,27.12,Direct,Non Promoted,Yes,Left,3,Single,0,B2
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6,Marr.,1,other group
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5,Marr.,1,B3
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6,Marr.,1,B2
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.,0,B2

In [27]:
def Job(x):
  if x=="Yes":
    return int(1)
  else:
    return int(0)


df['New Job Role Match']=df['Job Role Match'].apply(Job)
df.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),...,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location,New Marital,New Promotion,New EMP,New Job Role Match
0,1,sid,9876544345,Pune,B2,Operation,Male,0.00,< =1,6.08,...,27.12,Direct,Non Promoted,Yes,Left,3,Single,0,B2,1
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,...,38.08,Direct,Promoted,No,Stay,6,Marr.,1,other group,0
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,...,36.04,Direct,Promoted,Yes,Stay,5,Marr.,1,B3,1
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,...,32.07,Direct,Promoted,Yes,Stay,6,Marr.,1,B2,1
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,...,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.,0,B2,1

In [28]:
jrm=pd.get_dummies(df['New Job Role Match'])
df.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),...,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location,New Marital,New Promotion,New EMP,New Job Role Match
0,1,sid,9876544345,Pune,B2,Operation,Male,0.00,< =1,6.08,...,27.12,Direct,Non Promoted,Yes,Left,3,Single,0,B2,1
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,...,38.08,Direct,Promoted,No,Stay,6,Marr.,1,other group,0
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,...,36.04,Direct,Promoted,Yes,Stay,5,Marr.,1,B3,1
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,...,32.07,Direct,Promoted,Yes,Stay,6,Marr.,1,B2,1
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,...,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.,0,B2,1

In [30]:
def Gen(x):
  if x in gender_dict.keys():
    return str(x)
  else:
    return 'other'

df['New Gender']=df['Gender '].apply(Gen)
df.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),...,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location,New Marital,New Promotion,New EMP,New Job Role Match,New Gender
0,1,sid,9876544345,Pune,B2,Operation,Male,0.00,< =1,6.08,...,Direct,Non Promoted,Yes,Left,3,Single,0,B2,1,Male
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,...,Direct,Promoted,No,Stay,6,Marr.,1,other group,0,Male
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,...,Direct,Promoted,Yes,Stay,5,Marr.,1,B3,1,Male
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,...,Direct,Promoted,Yes,Stay,6,Marr.,1,B2,1,Male
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,...,Direct,Non Promoted,Yes,Stay,1,Marr.,0,B2,1,Male

In [31]:
gend=pd.get_dummies(df["New Gender"])
tengrp=pd.get_dummies(df['Tenure Grp.'])
data=pd.concat([df,emp, tengrp, gend, mr, hr], axis=1)
data.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),...,> 1 & < =3,Female,Male,other,Marr.,Single,other status,Agency,Direct,Employee Referral
0,1,sid,9876544345,Pune,B2,Operation,Male,0.00,< =1,6.08,...,0,0,1,0,0,1,0,0,1,0
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,...,0,0,1,0,1,0,0,0,1,0
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,...,0,0,1,0,1,0,0,0,1,0
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,...,0,0,1,0,1,0,0,0,1,0
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,...,0,0,1,0,1,0,0,0,1,0

In [32]:
data.columns

Index(['table id', 'name', 'phone number', 'Location', 'Emp. Group',
       'Function', 'Gender ', 'Tenure', 'Tenure Grp.', 'Experience (YY.MM)',
       'Marital Status', 'Age in YY.', 'Hiring Source',
       'Promoted/Non Promoted', 'Job Role Match', 'Stay/Left', 'New Location',
       'New Marital', 'New Promotion', 'New EMP', 'New Job Role Match',
       'New Gender', 'B1', 'B2', 'B3', 'other group', '< =1', '> 1 & < =3',
       'Female', 'Male', 'other', 'Marr.', 'Single', 'other status', 'Agency',
       'Direct', 'Employee Referral'],
      dtype='object')

In [36]:
data.drop(['table id', 'name', 'Marital Status', 'Promoted/Non Promoted', 'Emp. Group', 'Function', 'Job Role Match', 'Location',

'Hiring Source', 'Gender ', 'Tenure', 'New Gender', 'New Marital', 'New EMP','Tenure Grp.', 'phone number'], axis=1, inplace=True)

In [37]:
data.head()

,Experience (YY.MM),Age in YY.,Stay/Left,New Location,New Promotion,New Job Role Match,B1,B2,B3,other group,...,> 1 & < =3,Female,Male,other,Marr.,Single,other status,Agency,Direct,Employee Referral
0,6.08,27.12,Left,3,0,1,0,1,0,0,...,0,0,1,0,0,1,0,0,1,0
1,13.00,38.08,Stay,6,1,0,0,0,0,1,...,0,0,1,0,1,0,0,0,1,0
2,16.05,36.04,Stay,5,1,1,0,0,1,0,...,0,0,1,0,1,0,0,0,1,0
3,6.06,32.07,Stay,6,1,1,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
4,7.00,32.05,Stay,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0

In [39]:
print(data.columns)

Index(['Experience (YY.MM)', 'Age in YY.', 'Stay/Left', 'New Location',
       'New Promotion', 'New Job Role Match', 'B1', 'B2', 'B3', 'other group',
       '< =1', '> 1 & < =3', 'Female', 'Male', 'other', 'Marr.', 'Single',
       'other status', 'Agency', 'Direct', 'Employee Referral'],
      dtype='object')

In [40]:
data.to_csv("processing.csv")

In [41]:
df=pd.read_csv("/content/processing.csv")
df.head()

,Unnamed: 0,Experience (YY.MM),Age in YY.,Stay/Left,New Location,New Promotion,New Job Role Match,B1,B2,B3,...,> 1 & < =3,Female,Male,other,Marr.,Single,other status,Agency,Direct,Employee Referral
0,0,6.08,27.12,Left,3,0,1,0,1,0,...,0,0,1,0,0,1,0,0,1,0
1,1,13.00,38.08,Stay,6,1,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
2,2,16.05,36.04,Stay,5,1,1,0,0,1,...,0,0,1,0,1,0,0,0,1,0
3,3,6.06,32.07,Stay,6,1,1,0,1,0,...,0,0,1,0,1,0,0,0,1,0
4,4,7.00,32.05,Stay,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,1,0

In [43]:
y=df['Stay/Left']
X=df.drop('Stay/Left', axis=1)

In [45]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=21, stratify =y)

In [46]:
X_train.shape, X_test.shape

((716, 21), (180, 21))

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [52]:
lr=LogisticRegression(C=0.1, random_state=21, solver='liblinear')
rfc= RandomForestClassifier()
gnb=GaussianNB()
dt=DecisionTreeClassifier()
svc=SVC(C=0.1, random_state=21 )

In [53]:
for a, b in zip([lr, rfc, gnb, dt, svc],["Logistic Regression",'Random Forest Classifier', 'Naive Bayes','Dectision Tree','SVC']):
          a.fit(X_train, y_train)
          predict=a.predict(X_train)
          y_pred=a.predict(X_test)
          score_1=accuracy_score(y_train, predict)
          score=accuracy_score(y_test, y_pred)
          print('[%s]training data accurancy is:%f'%(b, score_1))
          print('[%s]testing data accurancy is:%f'%(b, score))

[Logistic Regression]training data accurancy is:0.888268
[Logistic Regression]testing data accurancy is:0.844444
[Random Forest Classifier]training data accurancy is:1.000000
[Random Forest Classifier]testing data accurancy is:0.905556
[Naive Bayes]training data accurancy is:0.867318
[Naive Bayes]testing data accurancy is:0.838889
[Dectision Tree]training data accurancy is:1.000000
[Dectision Tree]testing data accurancy is:0.850000
[SVC]training data accurancy is:0.660615
[SVC]testing data accurancy is:0.661111

In [54]:
#The best model is : Random Forest Classifier
model=rfc.fit(X_train, y_train)
import pickle
with open('Final model.pkl', 'wb') as f:
    pickle.dump(model, f)